.footer {
    margin-top: auto;
    height: 137px;
    width: 100%;
    background-color: var(--dark-green);
    overflow: hidden;
    display: flex;
    justify-content:space-between;
}

.logo {
    margin: -2px 0 -2px 60px;
    width: 141px;
    height: 141px;
}

.footer_label {
    margin: 25px 45px 0 0;
    text-align: right;
}

.footer_label_element {
    margin-bottom: 2px;
    display: block;
    color: var(--base-white);
    font-size: 14px;
    letter-spacing: 0.14px;
    text-decoration: none;
    font-family: "Ferry-Black", Helvetica;
}

.footer_label_element:not(:first-child):hover {
    color: #ffffff76;
}

.footer_copyright {
    margin-top: 19px;
    font-size: 12px;
    letter-spacing: 0.12px;
    color: var(--base-white);
    font-family: "Inter-Regular", Helvetica; 
}


/* адаптация */
/* @media screen and (max-width: 800px) {
    .footer {
        margin-left: -14px;
        margin-right: -26px;
        padding-left: 18px;
        padding-right: 19px;
    }

    .logo {
        margin-top: -12px;
        width: 111px;
        height: 111px;
    }
}  */